# Estetään repoon menevät muokkaukset käyttäjäkohtaisille tiedostoille.
www/inc/database_account.php
www/config.php

# Perkeleen windows.
Thumbs.db

# Ei me tarvita logeja mukaan repoon.
*.log
