#codeblock {
    width: 100%;
    max-height: 420pt; /* 560px, 42 riviä tekstiä */
    overflow: auto;
    border: 1px solid black;
    
    font-family: Courier New, monospace;
    font-size: 10pt;
    background: rgb(231,240,248);
    
    margin: 10px 0 0 0;
}

#codeblock td, #codeblock th {
    border: 0;
}

#codeblock td.de1 {
    background-color: #E7F0F8;
}

#codeblock td.de1 pre {
    position: relative;
}

#codeblock td.ln {
    padding: 0;
}

#codeblock td.ln pre {
    background: rgb(159,193,221);
    text-align: right;
    padding: 10px;
    position: relative;
    border-right: 1px solid black;
    width: 30px;
    z-index: 3;
}

.coolbasic a {
    text-decoration: none;
}

.coolbasic a:hover {
    text-decoration: underline;
}


/* Avainsanojen ynnä muiden väritys ja muu tyylitys */
.kw1, .kw2 {
    color: #0000ca;
}

.co1, .co2 {
    color: #a6a6a6;
}

.st0 {
    color: #00b000;
}

.nu0 {
    color: #d74600;
}

.sy0 {
    color: #0c5785;
}