.coolbasic {
    font-family: Courier New, monospace;
    font-size: 10pt;
    background: rgb(231,240,248);
    border: 1px solid black;
    
    width: 100%;
    margin: 0;
}

.coolbasic pre {
    font-family: Courier New,monospace;
    font-size: 10pt;
    margin: 0;
}

table.coolbasic tbody tr td.de1 pre {
    /* Tämä estää laatikon valumisen liian suureksi. Ei vaikuta muuhun sisältöön. */
    width: 2em;
}

table.coolbasic tbody tr td.de1 pre.de1 {
    min-width: 100%;
    overflow: auto;
    /* Estetään oikean laidan scrollbarin näkyminen laittamalla lisää tilaa alas */
    padding-bottom: 5px;
}

table.coolbasic tbody tr td.de1 {
    background-color: #E7F0F8;
    overflow: hidden;
}

.coolbasic a {
    text-decoration: none;
}

.coolbasic a:hover {
    text-decoration: underline;
}

.ln {
    background: rgb(159,193,221);
    width: 1em;
    text-align: right;
}

/* Avainsanojen ynnä muiden väritys ja muu tyylitys */
.kw1, .kw2, .kw3, .kw4 {
    color: #0000ca;
}

.co1, .co2 {
    color: #a6a6a6;
}

.st0 {
    color: #00b000;
}

.nu0 {
    color: #d74600;
}

.sy0 {
    color: #0c5785;
}