#codeblock {
    width: 100%;
    max-height: 420pt;
    overflow: auto;
    border: 1px solid black;
    
    font-family: Courier New, monospace;
    font-size: 10pt;
    background: rgb(231,240,248);
    
    margin: 0;
}

#codeblock td, #codeblock th {
    border: 0;
}

#codeblock td.de1 {
    background-color: #E7F0F8;
    border-left: 1px solid black;
}

#codeblock .ln {
    background: rgb(159,193,221);
    width: 1em;
    text-align: right;
}

.coolbasic a {
    text-decoration: none;
}

.coolbasic a:hover {
    text-decoration: underline;
}


/* Avainsanojen ynnä muiden väritys ja muu tyylitys */
.kw1, .kw2 {
    color: #0000ca;
}

.co1, .co2 {
    color: #a6a6a6;
}

.st0 {
    color: #00b000;
}

.nu0 {
    color: #d74600;
}

.sy0 {
    color: #0c5785;
}